body {
  font-family: Arial, sans-serif;
  background-image: url(kepek/egyiptomihatter.jpg);
  margin: 0;
  padding: 0;
  line-height: 1.6;
}

.container {
  width: 60%;
  margin: auto;
  background: #f3d27e;
  padding: 20px;
  border: 2px solid #cfa34f;
}

header {
  text-align: center;
  margin-bottom: 20px;
}

header h1 {
  color: #a11c1c;
  font-size: 32px;
  margin-bottom: 10px;
}

header h2 {
  color: #b0521f;
  font-size: 24px;
  margin-bottom: 20px;
}

/* körbefuttatás bal oldali képnél */
.float-left {
  float: left;
  margin: 0 15px 15px 0;
  width: 40%;
  border: 2px solid #cfa34f;
}

/* körbefuttatás jobb oldali képnél */
.float-right {
  float: right;
  margin: 0 0 15px 15px;
  width: 40%;
  border: 2px solid #cfa34f;
}

.temple h2 {
  text-align: justify;
  color: #a11c1c;
  font-size: 26px;
  margin-bottom: 20px;
}